body {
    height: 85vh;
    width: 97vw;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

#reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.grid-child {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 1px solid black;
}